<!DOCTYPE html>

<html>

   <head>
      <title>Timestamp Microservice</title>
      <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
      <link href="style.css" rel="stylesheet" type="text/css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta charset="utf-8">
   </head>

   <body>

      <div class="container">
        <h2>API Project: Timestamp Microservice</h2>
        <h4>A project from freeCodeCamp. Change URL to test!</h4>
        <h3>Example Usage:</h3>
        <ul>
          <li><code>https://timestamp1-project.glitch.me/api/timestamp/2015-12-25</code></li>
          <li><code>https://timestamp1-project.glitch.me/api/timestamp/Dec 25, 2015</code></li>
        </ul>

        <h3>Example Output:</h3>
        <p>
          <code>{"unix":1451001600000, "utc":"Fri, 25 Dec 2015 00:00:00 GMT"}</code>
        </p>
      </div>
      <div class="footer">
        <p>
          Check out my other projects on <a href="http://www.codepen.io/Waymans" target="_blank">Codepen</a>.
        </p>
      </div>
   </body>

</html>
